@charset "UTF-8";
/* CSS Document */

.pagetitle {
	width: 100%;
}

.postlist {
 /* ie6-only hack */
  _border:1px solid rgb(255, 255, 255);
}

.popupbody .rating {
	display:block;
	padding:0px;
	padding-left:75px;
	background:transparent url(images/rating/rating-15_0.html) left center no-repeat;
}

.popupbody .r5 { background-image:url(images/rating/rating-15_5.html); }
.popupbody .r4_right { background-image:url(images/rating/rating-15_4.html); }
.popupbody .r3_right { background-image:url(images/rating/rating-15_3.html); }
.popupbody .r2_right { background-image:url(images/rating/rating-15_2.html); }
.popupbody .r1_right { background-image:url(images/rating/rating-15_1.html); }

/*RTL rating*/
.popupbody .r4_left { background-image:url(images/rating/rating-15_4_left.html); }
.popupbody .r3_left { background-image:url(images/rating/rating-15_3_left.html); }
.popupbody .r2_left { background-image:url(images/rating/rating-15_2_left.html); }
.popupbody .r1_left { background-image:url(images/rating/rating-15_1_left.html); }
.searchthread.popupmenu .popupbody {
	width:236px;
}

.searchthread.popupmenu .popupbody input.searchbox{
	margin-top:1px;
	margin-bottom:3px;
}

.searchthread.popupmenu .popupbody input.button{
	float:right;
	top:0;
}

.qrcontainer.blockfoot {
	padding-top: 0;
	-moz-border-radius-topright: 5px;
	-moz-border-radius-topleft: 5px;
	-webkit-border-top-right-radius: 5px;
	-webkit-border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
}

.formcontrols .openclose, .formcontrols .stickunstick, .formcontrols .showsignature {
	padding:5px;
}

/* ADS First and Last Post */
#ad_thread_first_post_content {
     float:right;
}
#ad_thread_last_post_content {
     float:right;
}


/* Threaded Mode */
#posttree {
	height:150px;
	overflow:auto;
	padding:2px;
	text-align:left;
	border: 1px solid #6b91ab;
	border-top:0;
	white-space:nowrap;
}

#posttree .poston {
	background: #FFFFFF none   ;
}

#posttreee .postoff {

}

#threaded_view h4 {
	background: #7192A8 url(images/buttons/newbtn_middle.html) repeat-x  ;
	border: 1px solid #5A7F97;
	color: #ffffff;
	font:   normal 12px Tahoma,Calibri,Verdana,Geneva,sans-serif;
	padding: 4px;
}

a.firstunread {
	background: url(images/buttons/firstnew.html) right center no-repeat;
	padding: 0 4px;
	padding-right: 15px;
	font-size:11px;
	border:1px solid transparent;
	margin-left:5px;
	text-decoration:none;
	display: inline-block;
}

#tag_edit_form .formcontrols {
	border-top: 1px solid #6B91AB;
}