@charset "UTF-8";

#calendarpicker {
	float:right;
}

#calendar_main {
	width:100%;
	float:left;
	margin-right:-175px;
}

#calendar_content {
	margin-right:175px;
}

#calendar_nav {
	float:right;
	width:165px;
}

#addnewcontrols dt {
	margin:0em 0em 0.5em 0em;
}

#addnewcontrols dd a,
#neweventbutton {
	display:block;
	text-align:center;
	margin:0em 0em 0.5em 0em;
}

#addnewcontrols {
	margin:1.5em;
}

#calendar_nav .block,
#calendar_main .block {
	margin:2em;
	clear:none;
}

#monthjump {
	padding: 2.5px 10px;
}

#monthjump select, #monthjump option {
	font-size: 12px;
}

#monthjump img {
	vertical-align:middle;
}

.calendar form {
	float:right;
	padding:10px;
}

.calendar {
	margin: 1em 0;
}

.calendar th {
	text-align:center;
	width:14%;
	word-wrap:break-word;
}

.calendar th .blocksubhead {
	margin-left:1px;
	padding:10px 0;
}

.calendar td {
	vertical-align:top;
}

.calendar .events.today,
.calendar .today {
	border-color:#c4c4c4;
	background:#FFEB90;
}

.today .blockrow.eventlist {
	background:transparent;
}

.calendar .events a.weeklink,
.calendar .events a.daynum {
	color:rgb(0,0,0);
	font-weight:bold;
	text-decoration:none;
	display:block;
	padding-top:4px;
}

.calendar .events a.weeklink:hover,
.calendar .events a.daynum:hover{
	color:rgb(255,68,0);
}

.calendar .events a.weeklink {
	padding-left:4px;
	float:left;
}

.calendar .events a.daynum {
	padding-right:6px;
	text-align:right;
}

.calendar .othermonth a {
	color: rgb(153,153,153);
}

.mini .othermonth a {
	background:rgb(240,240,240) none   ;
}

.month .othermonth {
	background:rgb(240,240,240) none   ;
}

.calendar .events {
	height:80px;
	font-size:11px;
	margin-left:1px;
	margin-bottom:2px;
	border-right:1px solid #c4c4c4;
	border-bottom:1px solid #c4c4c4;
}

.calendar th:first-child .blocksubhead,
.calendar td:first-child .events {
	margin-left:0;
}

.calendar .events ol {
}

.calendar .events ol li {
	list-style:outside disc;
	float:left;
	margin-left:1.5em;
	width: 85%;
}

.calendar a {
	text-decoration:none;
}

.calendar.mini {
	width:100%;
	margin: 1em 0;
}

.quarter .calendar.mini {
	width: 31%;
	margin: 1em 0;
	margin-right: 2%;
}

.calendar.mini .calendar {
	margin: 1em 0;
}

.calendar.mini .blockhead {
	font-size:   13px Tahoma, Calibri, Verdana, Geneva, sans-serif;
	float: left;
	clear:both;
	display:block;
	width:100%;
	padding-left: 0;
	padding-right: 0;
}

.calendar.mini .blockhead a {
	padding: 0 10px;
}

.calendar.mini table {
	width:100%;
	clear:both;
}

.calendar.mini td {
	text-align:right;
}

.calendar.mini th,
.calendar.mini td {
	font-size:11px;
}

.calendar.mini .blocksubhead {
	font-size:9.5px;
	padding:5px 0;
}

.calendar.mini td .simpleday,
.calendar.mini td a {
	display:block;
	padding:3px;
}

.calendar.mini td.othermonth a {
	border-right:1px solid rgb(143,149,191);
	border-bottom:1px solid rgb(143,149,191);
	-moz-border-radius-bottomright:5px;
	-moz-border-radius-bottomleft:5px;
	-webkit-border-bottom-left-radius:5px;
	-webkit-border-bottom-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}

.quarter {
	clear:both;
}

.quarter .calendar {
	float:left;
	margin-right:10px;
}


 /** WEEK VIEW **/

.weekcontrols {
	float:right;
	padding: 4px 10px;
}

.week li.floatcontainer {
	width:99.8%;
 	border: 1px solid #c4c4c4;
	border-top: 0;
}

.week li.floatcontainer .blocksubhead {
	border: 0;
	margin: 0;
}

.week .dayname {
	display:block;
}

.week .daynum {
	display:block;
	font-size:24pt;
	float:left;
	padding:10px;
	width:40px;
	text-align:center;
	color:grey;
}

.week .eventlist {
	padding-left:60px;
}

.week .eventlist li {
	list-style:inside disc;
}

.week .eventlist li .eventtime {
	font-size:11px;
}

.week .eventlist li a[href="calendarevent.php"] {
	display:block;
	padding-left:1em;
}

.week .eventlist li.birthdays {
	-moz-border-radius:7px;
	-webkit-border-radius:7px;
	border-radius:7px;
        background:rgb(240,242,250) none   ;
	padding:10px;
	border:2px solid rgb(240,242,250);
	list-style:none;
	float:right;
	width:40%;
	margin-right:-10px;
	margin-left:10px;
	margin-bottom: 5px;
}

li.birthdays dt,
li.birthdays dd {
	display:inline;
}

.week .eventlist li.birthdays dt:after {
	content:":";
}

li.birthdays dd:after {
	content:",";
}

li.birthdays dd:last-child:after {
	content:"";
}

/** Calendar events **/

.restore h2 {
	margin-top:0;
}

#calendar_content .postbit .postcontrols .textcontrols a {
	padding:3px 10px;
}

#recurtabs {
	clear:both;
}

#eventtabs1 > label,
#eventtabs2 > label {
	display:block;
	margin-bottom:2px;
}

a.holiday {
	font-weight:bold;
}

a.subscribed {
	background-image:url(images/misc/subscribed_event.html);
	background-position:left center;
	background-repeat:no-repeat;
	padding-left:17px;
}

.eventbit dl.customfield {
	margin-left:0;
}

.eventbit dl.customfield dt {
	color:#999999;
	float:left;
	margin-right:2px;
}

.eventbit dl.customfield dd {
	display:block;
}

.eventbit dl.customfield dt:after {
	content:":";
}
.formcontrols .blockrow .group.checkradio li label {
	display:inline;
	width:auto;
}

.formcontrols .blockrow .group.checkradio .daycheckboxes li:first-child {
	margin-top:5px;
}

#monthjump .textbox, #monthjump textarea, #monthjump select {
	padding:0;
}

.birthdays {
	border-top: 1px solid #e9e9e9;
}
.eventbit .eventhead {
	height: auto;
	padding-bottom: 5px;
}

.birthdays .posthead {
	border: 1px solid #5A7F97;
	background: #7192A8 url(images/buttons/newbtn_middle.html) repeat-x  ;
	_background-image: none;
	padding: 4px 0;
	padding-left: 10px;
	color: #ffffff;
	margin-left: 0;
	font:   normal 12px Tahoma,Calibri,Verdana,Geneva,sans-serif;
}

.birthdays .eventrow {
	background: #fafafa none   ;
	_background-image: none;
}



.eventbit .eventhead .eventdate span.date, .eventbit .eventhead .eventdate .time {
	font:   normal 12px Tahoma,Calibri,Verdana,Geneva,sans-serif;
	color: #ffffff;
}

.eventbit .eventhead .eventdate span.date {
	padding-left: 10px;
	font:   normal 12px Tahoma,Calibri,Verdana,Geneva,sans-serif;
}

.eventbit dl.stats {
	display: inline-block;
	height: auto;
}

.eventbit .userinfo {
	float:left;
	position: relative;
	width:180px;
	padding: 2px 10px 5px;
	font-size: 11px;
	display:block;
}
.eventbit .eventfoot .textcontrols {
	display:block;
	float: right;
	margin-right: 10px;
}

.eventbit .userinfo a.username, .eventbit .userinfo .memberaction.popupmenu a.popuctrl {
	font-weight:normal;
	padding-right:1.5em;
}

.eventbit a.username.online {
	background:url(images/statusicon/user-online.html) top right no-repeat;
}

.eventbit a.username.offline {
	background:url(images/statusicon/user-offline.html) top right no-repeat;
}

.eventbit a.username.invisible {
	background:url(images/statusicon/user-invisible.html) top right no-repeat;
}

.calendar .events ol li {
	padding-bottom: 5px;
}


/* CSS Document */

/* last edited notice */
.lastedited {
	font-style:italic;
	padding-top: 1em;
	color: #3e3e3e;
	font-size: 11px;
/*	clear:both; */
}

.lastedited a {
	color: #3e3e3e;
}
/* reputation image */
.postbit_reputation {
	clear: both;
	display: block;
	font-size: 0;
	padding-left: 2px;
}

img.repimg {
    display: inline;
    margin-left: -2px;
}

.quickedit {
border-top: 1px solid #6B91AB;
}
/*signature */
.signature {
        padding-top: 1em;
	border-top: 1px solid #dddddd;
        margin-top: 2em;
}


/*post bit*/
.postbit, .postbitlegacy, .eventbit {
	margin-bottom: 10px;
	display:block;
	width: 100%;
	clear:both;
	position: relative;
	float: left;
	color: #3e3e3e;
	border: 1px solid #e9e9e9;
}

.postbit object {
	clear:both; 
}

.postbit .postdetails {
	width: 100%;
	display:block;
	float: left;
}

.postrow {
	overflow: auto;
}

.postbit .posthead, .postbitlegacy .posthead, .eventbit .eventhead {
	background: #7192A8 url(images/buttons/newbtn_middle.html) repeat-x  ;
	_background-image: none;
	border: 1px solid #5A7F97;
	clear:both;
	display:block;
	float: left;
	width: 100%;
	color: #ffffff;
	margin: -1px -1px 0;
	font:   normal 12px Tahoma,Calibri,Verdana,Geneva,sans-serif;
	padding: 4px 0;
}

.postbit .posthead .postdate, .postbitlegacy .posthead .postdate {
            display:block;
            float:left;
            clear:right;
            width: 49%;
            margin-left: 10px;
            font:   normal 12px Tahoma,Calibri,Verdana,Geneva,sans-serif;
            padding-left: 15px;
}

.postbit .posthead .postdate.old, .postbitlegacy .posthead .postdate.old {
            background:transparent url(images/statusicon/post_old.html) no-repeat center left;
}

.postbit .posthead .postdate.new, .postbitlegacy .posthead .postdate.new {
            background:transparent url(images/statusicon/post_new-2.html) no-repeat center left;
}

.postbit .postdate .time {
	color: #ffffff;
	margin-left: 10px;
}

.postbithead .postdate .time {
	color: #3e3e3e;
}

.postbit .userinfo .contact, .postbit .userinfo_noavatar .contact {
	position: relative;
	float: left;
	clear: right;
	width: 50%;
	display:block;
}
.postbit .postuseravatarlink {
	display:block; 
	text-align: center;
	position: relative;
	top: 0;
	margin-left: 15px;
	float: left;
	clear: right;
}

.postbit .postuseravatarlink img {
}


.postbit .nodecontrols .postimod{
	top: 0;
	position:relative;
	margin-left: 10px;
}

.postbit .userinfo, .postbit .userinfo_noavatar {
	background: #f2f6f8 none   ;
	_background-image: none;
	clear:both;
	height: auto !important;
	border-bottom:1px solid #e9e9e9;
	padding: 0.5em 0;
	width: 100%;
	float: left;
}

.postbit .userinfo .contact, .userinfo .userinfo_extra, .postbit .userinfo_noavatar .contact {
	display:inline-block;
	height: auto !important;
}
.postbit .username_container {
 	float: left;
 	clear: right;
 	display:block;
 	margin-left: 10px;
}
.postbit .userinfo .username_container .memberaction, .postbit .userinfo_noavatar .username_container .memberaction {
 	display: inline;
}

.postbit .postdetails_noavatar .posthead, .postbit .postdetails_noavatar .userinfo .contact {
	margin-left: 0;
}

.postbit .userinfo .username, .postbit .userinfo_noavatar .username {
	font-size: 13px;
	font-weight: bold;
}

.postbit .userinfo_noavatar .imlinks img {
	display:inline;
}
.postbit .userinfo .username.guest, .postbit .userinfo_noavatar .username.guest {
	font-weight:normal;
}

.postbit .userinfo_noavatar .usertitle, .postbit .userinfo .usertitle, .postbit .userinfo_noavatar .rank, .postbit .userinfo .rank {
	font-size: 11px;
	font-weight: bold;
	display:block;
	clear:both;
}
.postbit .userinfo .userinfo_extra, .postbit .userinfo_noavatar .userinfo_extra {
	text-align: right;
	width: 300px;
	float: right;
	font-size: 11px;
}

.postbit .userinfo .userinfo_extra dl, .postbit .userinfo_noavatar .userinfo_extra dl {
	margin-right: 10px;
	float: right;
	width: 150px;
}

.postbit .userinfo_extra dl dt {
	float:left;
	display:block;
	margin-right: 5px;
}

.postbit .userinfo_extra dl dt:after  {
	content:":";
}
.postbit .userinfo_extra dl dt.blank:after {
	content:none;
}
.postbit .userinfo_extra dl dd {
	display:block;
}

.postbit .userinfo .moreinfo, .postbit .userinfo_noavatar .moreinfo {
	float: left;
	display: inline;
}

.postbit .userinfo .popupmenu a.popupctrl, .postbit .userinfo_noavatar .popupmenu a.popupctrl {
	font-size: 12px;
	background: transparent;
	padding: 0;
	display:inline-block;
}

.postbit .userinfo .popupmenu a.popupctrl:hover, .postbit .userinfo_noavatar .popupmenu a.popupctrl:hover {
	color: #417394;
	text-decoration: ;
}

.postbit .postbody {
	clear: both;
	color: rgb(51, 51, 51);
	background: #fafafa none   ;
}

.postrow blockquote ul, .postrow blockquote ol, .postrow blockquote dl {
	margin:0 40px;
}

.postbit .postrow {
	font-family: Verdana,Arial,Tahoma,Calibri,Geneva,sans-serif;
}
.postbit .postrow {
	padding: 5px 10px 3em;
	font:    13px Verdana,Arial,Tahoma,Calibri,Geneva,sans-serif;
}
.postbit hr {
	display:none;
}

.postcontent {
	word-wrap: break-word;
}


.postbit .posttitle {
	display:block;
	padding: 10px;
	font-weight:bold;
	font:   bold 14px Tahoma,Calibri,Verdana,Geneva,sans-serif;
	margin: 0;
}

/*postbit legacy*/

.postbitlegacy hr, .eventbit hr {
	display: none;
}

blockquote.restore hr {
	display: block;
}

.postbitlegacy .postdetails, .eventbit .eventdetails {
	float: left;
	width: 100%;
	background: #f2f6f8 none   ;
	_background-image: none;
}

.postbitlegacy .posthead .time {
	font:   normal 12px Tahoma,Calibri,Verdana,Geneva,sans-serif;
	color: #ffffff;
}

.postbit .posthead .nodecontrols, .postbitlegacy .posthead .nodecontrols, .eventbit .eventhead .nodecontrols {
	position: absolute;
	color: #ffffff;
	right: 0;
	top: 0;
	width: 50% ;
	padding: 4px 10px 0;
	text-align: right;
	font:   normal 12px Tahoma,Calibri,Verdana,Geneva,sans-serif;
	vertical-align: middle;
}

.postbit .posthead .nodecontrols a, .postbitlegacy .posthead .nodecontrols a, .eventbit .eventhead .nodecontrols a {
	color: #ffffff;
        top: -2px;
        position:relative;
}

.postbitlegacy .posthead .nodecontrols img, .eventbit .eventhead .nodecontrols img {
	position: relative;
	top: 2px;
	padding: 0;
}

.postbitlegacy .posthead .nodecontrols .postimod, .eventbit .eventhead .nodecontrols .postimod {
	top: 0px;
	position:relative;
	margin-left: 5px;
}

.postbitlegacy .postbody, .eventbit .eventdetails .eventbody {
	margin-left: 200px;
	border-left: 1px solid #efefef;
	background: #fafafa none   ;
	_background-image: none;
	padding-bottom: 1em;
}

.postbitlegacy .postrow, .eventbit .eventrow, .postbitdeleted .postrow, .postbitignored .postrow {
	padding: 5px 10px 10px;
	font:    13px Verdana,Arial,Tahoma,Calibri,Geneva,sans-serif;
	color: rgb(51, 51, 51);
}

.postbitlegacy .userinfo {
	float:left;
	position: relative;
	width:180px; 
	padding: 2px 10px 5px;
	font-size: 11px;
	display:block;
        background: #f2f6f8 none   ;
	clear:both;
}

.postbitlegacy .userinfo .rank, .postbitlegacy .userinfo .usertitle {
	font-size: 11px;
	display:block;
	clear:both;
}

.postbitlegacy .userinfo .username_container {
	margin-bottom: 8px;
}


.postbitlegacy .userinfo .username_container .memberaction {
	display: inline;
}

.postbitlegacy .userinfo .postuseravatar, .eventbit .userinfo .eventuseravatar {
	display:block;
	margin:3.3333333333333px auto 0;
	text-align:left;
	width: auto;
	float: left;
	clear: both;
}

.postbitlegacy .userinfo .postuseravatar img, .eventbit .userinfo .eventuseravatar img {
 	max-width: 180px;
}

.postbitlegacy .userinfo a.username, .eventbit .userinfo a.username {
	clear:right;
	font-size:13px;
	font-weight:bold;
	width: auto;
	max-width:160px;
	word-wrap:break-word;
}

.postbitlegacy .userinfo .guest.username, .eventbit .userinfo .guest.username {
	padding-top: 5px;
	display:block;
	font-size: 13px;
}

.postbitlegacy dl.userinfo_extra, .postbitlegacy dl.user_rep {
	margin: 5px 0;
	display:block;
	float: left;
	width: 180px; 
}
.postbitlegacy dl.userinfo_extra dt, .postbitlegacy dl.user_rep dt {
	float: left;
	text-align: left;
	/*color: #777777;*/
	margin-right: 10px;
	margin-left: 0;
	min-width:60px;
	width:auto !important;
	width:60px;
}

.postbitlegacy dl.userinfo_extra dt:after, .postbitlegacy dl.user_rep dt:after {
	content: ":";
}

.postbitlegacy dl.user_rep dt.blank:after {
	content: none;
}

.postbitlegacy dl.userinfo_extra dd, .postbitlegacy dl.userinfo_extra dd a, .postbitlegacy dl.user_rep dd {
	padding-bottom: 3px;
}

.postbitlegacy dl.user_rep img {
	margin-top: 10px;
}

.postbitlegacy .imlinks {
	width: 100%;
	float: left;
}

.postbitlegacy .imlinks img {
	display:inline;
}

.postbitlegacy .title, .eventbit .title {
	display:block;
	padding: 10px;
        padding-left: 0;
	font:   bold 14px Tahoma,Calibri,Verdana,Geneva,sans-serif;
}

.postbit .postfoot, .postbitlegacy .postfoot, .eventbit .eventfoot {
	display:block;
	position: relative;
	right: 0;
	float: left;
	clear:both;
	/*vertical-align: bottom;*/
	background: transparent;
	/*height: 26px;*/
	font:   bold 11px Tahoma, Calibri, Verdana, Geneva, sans-serif;
	width: 100%;
}

.postbitlegacy .postrow.has_after_content {
	padding-bottom: 4em;
}

.postbitlegacy .after_content {
	position: relative;
	width: 100%;
	clear:both;
}

.postbitlegacy .signature, .postbitlegacy .lastedited {
	margin-top: 1em;
	padding: 1em 10px 0;
}

.postbit .postfoot .textcontrols, .postbitlegacy .postfoot .textcontrols, .eventbit .eventfoot .eventcontrols {
	padding: 6px 0 4px;
	display:block;
	background: #e9e9e9 none   ;
	_background-image: none;
	font:   bold 11px Tahoma, Calibri, Verdana, Geneva, sans-serif;
	width: 100%;
	margin-right: 10px;
}
.postbitlegacy .postfoot  .postcontrols, .postbit .postfoot  .postcontrols {
	float:right;
	padding-right:10px;
	text-align:right;
	width:50%;
}

.postbitlegacy .postfoot .postlinking, .postbit .postfoot .postlinking {
	padding-left:10px;
}

.postbitlegacy .postfoot .textcontrols img.inline, .postbit .postfoot .textcontrols img.inline {
	position: absolute;
	top: 2px;
	left: -1px;
	margin-right: 1px;
}
.postbitlegacy .postfoot .textcontrols span.seperator, .postbit .postfoot .textcontrols span.seperator {
	border-right: 1px solid #DADADA;
	display: inline;
	margin: 0 5px;
}
.postbitlegacy .postfoot .textcontrols a, .postbit .postfoot .textcontrols a, .eventbit .eventfoot .eventcontrols a,
.postbitlegacy .postfoot .textcontrols span.mobile, .postbit .postfoot .textcontrols span.mobile {
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	border-radius: 0px;
	padding: 0;
	padding-left: 23px;
	border: 0px solid #a8a8a8;
	background: #e9e9e9;
	_background-image: none;
	color: #4e4e4e;
	font:   bold 11px Tahoma, Calibri, Verdana, Geneva, sans-serif;
	display:inline-block;
	/* margin needs to be left invariant of the text direction (LTR-RTL) */
	margin-left: 5px;
}

/* Text button hover images */
.postbitlegacy .postfoot .textcontrols img.spam, .postbit .postfoot .textcontrols img.spam  {
	padding-top: 2px;
}
.postbitlegacy .postfoot .textcontrols img.moderated, .postbit .postfoot .textcontrols img.moderated, .postbitlegacy .postfoot .textcontrols img.spam, .postbit .postfoot .textcontrols img.spam, .postbitlegacy .postfoot .textcontrols img.deleted_nolink, .postbit .postfoot .textcontrols img.deleted_nolink  {
	padding-top: 2px;
}
.postbitlegacy .postfoot .textcontrols a.editpost, .postbit .postfoot .textcontrols a.editpost, .eventbit .eventfoot .textcontrols a.editevent  {
	background: url(images/buttons/edit_40b.html) no-repeat #e9e9e9 left ;
        padding: 0px 0px 0px 0px;
	padding-left: 20px;
	border: 0px solid #a8a8a8;
}
.postbitlegacy .postfoot .textcontrols a.editpost:hover, .postbit .postfoot .textcontrols a.editpost:hover, .eventbit .eventfoot .textcontrols a.editevent:hover  {
	background: url(images/buttons/edit_40b-hover.html) no-repeat  left;
	padding: 0px 0px 0px 0px;
	padding-left: 20px;
	border: 0px  ;
}
.postbitlegacy .postfoot .textcontrols a.quickreply, .postbit .postfoot .textcontrols a.quickreply, .postbitlegacy .postfoot .textcontrols a.forwardpost, .postbit .postfoot .textcontrols a.forwardpost  {
	background: url(images/buttons/reply_40b.html) no-repeat #e9e9e9 left;
	padding: 0px 0px 0px 0px;
	padding-left: 20px;
	border: 0px solid #a8a8a8;
}
.postbitlegacy .postfoot .textcontrols a.quickreply:hover, .postbit .postfoot .textcontrols a.quickreply:hover, .postbitlegacy .postfoot .textcontrols a.forwardpost:hover, .postbit .postfoot .textcontrols a.forwardpost:hover  {
	background: url(images/buttons/reply_40b-hover.html) no-repeat  left;
	padding: 0px 0px 0px 0px;
	padding-left: 20px;
	border: 0px  ;
}
.postbitlegacy .postfoot .textcontrols a.newreply, .postbit .postfoot .textcontrols a.newreply  {
	background: url(images/buttons/quote_40b.html) no-repeat #e9e9e9 left;
	padding: 0px 0px 0px 0px;
	padding-left: 20px;
	border: 0px solid #a8a8a8;
}
.postbitlegacy .postfoot .textcontrols a.newreply:hover, .postbit .postfoot .textcontrols a.newreply:hover  {
	background: url(images/buttons/quote_40b-hover.html) no-repeat  left;
	padding: 0px 0px 0px 0px;
	padding-left: 20px;
	border: 0px  ;
}
.postbitlegacy .postfoot .textcontrols a.multiquote, .postbit .postfoot .textcontrols a.multiquote  {
	background: url(images/buttons/multiquote-back_40b.html) no-repeat #e9e9e9 left;
	padding: 0px 0px 0px 0px;
	padding-left: 20px;
	padding-bottom:1px;
	border: 0px solid #a8a8a8;
}
.postbitlegacy .postfoot .textcontrols a.multiquote:hover, .postbit .postfoot .textcontrols a.multiquote:hover  {
	background: url(images/buttons/multiquote_40b-hover.html) no-repeat  left;	
}
.postbitlegacy .postfoot .textcontrols a.promotecms, .postbit .postfoot .textcontrols a.promotecms  {
	background: url(images/cms/promote_small.html) no-repeat #e9e9e9 left;
	padding: 0px 0px 0px 0px;
	padding-left: 20px;
	border: 0px solid #a8a8a8;
}
.postbitlegacy .postfoot .textcontrols a.promotecms:hover, .postbit .postfoot .textcontrols a.promotecms:hover  {
	background: url(images/cms/promote_small-hover.html) no-repeat  left;
	padding: 0px 0px 0px 0px;
	padding-left: 20px;
	border: 0px  ;
}
.postbitlegacy .postfoot .textcontrols a.infraction, .postbit .postfoot .textcontrols a.infraction  {
	background: url(images/buttons/add-infraction_sm.html) no-repeat #e9e9e9 left;
	padding: 0px 0px 0px 0px;
	padding-left: 20px;
	border: 0px solid #a8a8a8;
}
.postbitlegacy .postfoot .textcontrols a.infraction:hover, .postbit .postfoot .textcontrols a.infraction:hover  {
	background: url(images/buttons/add-infraction_sm-hover.html) no-repeat  left;
	padding: 0px 0px 0px 0px;
	padding-left: 20px;
	border: 0px  ;
}
.postbitlegacy .postfoot .textcontrols a.report, .postbit .postfoot .textcontrols a.report  {
	background: url(images/buttons/report-40b.html) no-repeat #e9e9e9 left;
	padding: 0px 0px 0px 0px;
	padding-left: 20px;
	border: 0px solid #a8a8a8;
}
.postbitlegacy .postfoot .textcontrols a.report:hover, .postbit .postfoot .textcontrols a.report:hover  {
	background: url(images/buttons/report-40b-hover.html) no-repeat  left;
	padding: 0px 0px 0px 0px;
	padding-left: 20px;
	border: 0px  ;
}
.postbitlegacy .postfoot .textcontrols a.blog, .postbit .postfoot .textcontrols a.blog  {
	background: url(images/misc/blog/blogpost_40b.html) no-repeat #e9e9e9 left;
	padding: 0px 0px 0px 0px;
	padding-left: 20px;
	border: 0px solid #a8a8a8;
}
.postbitlegacy .postfoot .textcontrols a.blog:hover, .postbit .postfoot .textcontrols a.blog:hover  {
	background: url(images/misc/blog/blogpost_40b-hover.html) no-repeat  left ;
	padding: 0px 0px 0px 0px;
	padding-left: 20px;
	border: 0px  ;
}
.postbitlegacy .postfoot .textcontrols a.reputation, .postbit .postfoot .textcontrols a.reputation  {
	background: url(images/buttons/reputation-40b.html) no-repeat #e9e9e9 left;
	padding: 0px 0px 0px 0px;
	padding-left: 20px;
	border: 0px solid #a8a8a8;
}
.postbitlegacy .postfoot .textcontrols a.reputation:hover, .postbit .postfoot .textcontrols a.reputation:hover  {
	background: url(images/buttons/reputation-40b-hover.html) no-repeat  left;
	padding: 0px 0px 0px 0px;
	padding-left: 20px;
	border: 0px  ;
}
.postbitlegacy .postfoot .textcontrols a.ip, .postbit .postfoot .textcontrols a.ip  {
	background: url(images/buttons/ip-40b.html) no-repeat #e9e9e9 left;
	padding: 0px 0px 0px 0px;
	padding-left: 20px;
	border: 0px solid #a8a8a8;
}
.postbitlegacy .postfoot .textcontrols a.ip:hover, .postbit .postfoot .textcontrols a.ip:hover  {
	background: url(images/buttons/ip-40b-hover.html) no-repeat  left;
	padding: 0px 0px 0px 0px;
	padding-left: 20px;
	border: 0px  ;
}
.postbitlegacy .postfoot .textcontrols a.redcard, .postbit .postfoot .textcontrols a.redcard  {
	background: url(images/buttons/red-card_sm.html) no-repeat #e9e9e9 left;
	padding: 0px 0px 0px 0px;
	padding-left: 20px;
	border: 0px solid #a8a8a8;
}
.postbitlegacy .postfoot .textcontrols a.redcard:hover, .postbit .postfoot .textcontrols a.redcard:hover  {
	background: url(images/buttons/red-card_sm-hover.html) no-repeat  left;
	padding: 0px 0px 0px 0px;
	padding-left: 20px;
	border: 0px  ;
}
.postbitlegacy .postfoot .textcontrols a.yellowcard, .postbit .postfoot .textcontrols a.yellowcard  {
	background: url(images/buttons/yellow-card_sm.html) no-repeat #e9e9e9 left;
	padding: 0px 0px 0px 0px;
	padding-left: 20px;
	border: 0px solid #a8a8a8;
}
.postbitlegacy .postfoot .textcontrols a.yellowcard:hover, .postbit .postfoot .textcontrols a.yellowcard:hover  {
	background: url(images/buttons/yellow-card_sm-hover.html) no-repeat  left;
	padding: 0px 0px 0px 0px;
	padding-left: 20px;
	border: 0px  ;
}
.postbitlegacy .postfoot .textcontrols a.deleted, .postbit .postfoot .textcontrols a.deleted  {
	background: url(images/buttons/deleted_sm.html) no-repeat #e9e9e9 left;
	padding: 0px 0px 0px 0px;
	padding-left: 20px;
	border: 0px solid #a8a8a8;
}
.postbitlegacy .postfoot .textcontrols a.deleted:hover, .postbit .postfoot .textcontrols a.deleted:hover  {
	background: url(images/buttons/deleted_sm-hover.html) no-repeat  left;
	padding: 0px 0px 0px 0px;
	padding-left: 20px;
	border: 0px  ;
}
.postbitlegacy .postfoot .textcontrols a:hover, .postbit .postfoot .textcontrols a:hover {
	color: #417394;
	background: ;
	_background-image: none;
}

.postbitlegacy .postfoot .textcontrols a.highlight, .postbit .postfoot .textcontrols a.highlight {
	background-color: ;
}

.postbitlegacy .postfoot .textcontrols a img, .postbit .postfoot .textcontrols a img {
	position: absolute;
	top: 2px;
	left: 3px;
}

.postbitlegacy .postfoot .textcontrols a:hover img, .postbit .postfoot .textcontrols a:hover img {
	top: 2px;
}

.postbitlegacy .postfoot .textcontrols .mobile.mobile_android, .postbit .postfoot .textcontrols .mobile.mobile_android,
.postbitlegacy .postfoot .textcontrols .mobile.mobile_iphone, .postbit .postfoot .textcontrols .mobile.mobile_iphone,
.postbitlegacy .postfoot .textcontrols .mobile.mobile_facebook, .postbit .postfoot .textcontrols .mobile.mobile_facebook
 {
	background: url(images/buttons/android_icon.html) no-repeat #e9e9e9 left;
	padding: 0px 0px 0px 0px;
	padding-left: 20px;
	border: 0px solid #a8a8a8;
}

.postbitlegacy .postfoot .textcontrols a.mobile_android:hover, .postbit .postfoot .textcontrols a.mobile_android:hover  {
	background: url(images/buttons/android_icon-hover.html) no-repeat  left;	
}

.postbitlegacy .postfoot .textcontrols .mobile.mobile_iphone, .postbit .postfoot .textcontrols .mobile.mobile_iphone  {
	background: url(images/buttons/iphone_icon.html) no-repeat #e9e9e9 left;
}

.postbitlegacy .postfoot .textcontrols a.mobile_iphone:hover, .postbit .postfoot .textcontrols a.mobile_iphone:hover  {
	background: url(images/buttons/iphone_icon-hover.html) no-repeat  left;	
}

.postbitlegacy .postfoot .textcontrols .mobile.mobile_facebook, .postbit .postfoot .textcontrols .mobile.mobile_facebook  {
	background: url(images/buttons/facebook_icon.html) no-repeat #e9e9e9 left;
}

.postbitlegacy .postfoot .textcontrols a.mobile_facebook:hover, .postbit .postfoot .textcontrols a.mobile_facebook:hover  {
	background: url(images/buttons/facebook_icon-hover.html) no-repeat  left;	
}

/*post bit deleted*/
.postbitdeleted, .postbitignored {
	margin-bottom: 10px;
	display:block;
	width: 100%;
	clear:both;
	position: relative;
	color: #3e3e3e;
	border: 1px solid #e9e9e9;
	float: left;
	background: #f2f6f8 none   ;
	_background-image: none;
}

.postbitdeleted hr, .postbitignored hr {
	display: none;
}

.postbitdeleted .posthead, .postbitignored .posthead {
	display:table;
	background: #7192A8 url(images/buttons/newbtn_middle.html) repeat-x  ;
	_background-image: none;
	border: 1px solid #5A7F97;
	height: 16px;
	padding: 4px 0;
	color: #ffffff;
	width: 100%;
	margin: -1px -1px 0;
	font:   normal 12px Tahoma,Calibri,Verdana,Geneva,sans-serif;
}

.postbitdeleted .posthead .date, .postbitignored .posthead .date {
	display:inline-block;
	padding-left: 14px;
	margin-left: 10px;
	color: #ffffff;
	background:transparent url(images/statusicon/post_old.html) no-repeat center left;
	font:   normal 12px Tahoma,Calibri,Verdana,Geneva,sans-serif;
}

.postbitdeleted .posthead .date .time, .postbitignored .date .time {
	color: #ffffff;
	font:   normal 12px Tahoma,Calibri,Verdana,Geneva,sans-serif;
}

.postbitdeleted .posthead .postimod, .postbitignored .posthead .postimod {
	position: absolute;
	right: 10px;
	top: 5px;
}

.postbitdeleted .postbody, .postbitignored .postbody {
	padding: 0;
}

.postbitdeleted .postrow, .postbitignored .postrow {
	padding:  10px;
}

.postbitdeleted .userinfo .memberaction, .postbitignored .userinfo .memberaction {
	display: block;
}


.postbitdeleted .userinfo, .postbitignored .userinfo {
	display:block;
	background: transparent;
	position: relative;
	clear: both;
	padding: 5px 10px;
	border-bottom: 1px solid #e9e9e9;
	word-wrap: break-word;
}

.postbitdeleted .userinfo .username, .postbitignored .userinfo .username {
	display:block;
	float: left;
	clear: right;
	font-size: 13px;
	/*font-weight:bold;*/
}

.postbitdeleted .userinfo .moreinfo, .postbitignored .userinfo .moreinfo {
	float: left;
	display:block;
	position: relative;
	top: -5px;
}

.postbitdeleted .userinfo .usertitle, .postbitignored .userinfo .usertitle {
	clear:both;
	display:block
	width: 100%;
}

.postbitdeleted .userinfo .popupmenu a.popupctrl:hover, .postbitignored .userinfo .popupmenu a.popupctrl:hover {
	color: #417394;
	text-decoration: underline;
}

.postbitdeleted .title, .postbitignored .title {
	font:   bold 14px Tahoma,Calibri,Verdana,Geneva,sans-serif;
}

.postbitdeleted .nodecontrols, .postbitignored .nodecontrols {
	padding: 4px 0;
	padding-right: 10px;
	text-align: right;
	background: #e9e9e9 none   ;
	_background-image: none;
	font:   bold 11px Tahoma, Calibri, Verdana, Geneva, sans-serif;
	height: 16px;
}

.postbitdeleted .nodecontrols .textcontrol, .postbitignored .nodecontrols .textcontrol {
	background: #e9e9e9;
	_background-image: none;
	border: 0px solid #a8a8a8;
	font:   bold 11px Tahoma, Calibri, Verdana, Geneva, sans-serif;
}

.postbitdeleted .nodecontrols a.textcontrol:hover, .postbitignored .nodecontrols a.textcontrol:hover {
	background: ;
	_background-image: none;
	border: 0px solid #a8a8a8;
}

.userinfo .popupmenu:hover a.popupctrl {
	background-color:transparent;
}

.userinfo .popupgroup .popupmenu:hover a.popupctrl.active,
.userinfo .popupmenu a.popupctrl.active {
	background-color:transparent;
	color:inherit;
}
.postbit .userinfo .popupmenu .popupctrl {
	color:auto;
}

.postbit.imod_highlight .userinfo_noavatar,
.postbit.imod_highlight .userinfo,
.postbit.imod_highlight .postbody,
.postbitlegacy.imod_highlight .postdetails,
.postbitlegacy.imod_highlight .userinfo,
.postbitlegacy.imod_highlight .postbody,
.postbitdeleted.imod_highlight,
.postbitignored.imod_highlight {
	background:#FFEB90;
	color: #3e3e3e;
}


/* start styles for postbit_legacy */
.userinfo .popupmenu:hover a.popupctrl {
	background-color:transparent;
}
.userinfo .popupgroup .popupmenu:hover a.popupctrl.active,
.userinfo .popupmenu a.popupctrl.active {
	background-color:transparent;
	color:inherit;
}
.postbitlegacy .userinfo .popupmenu .popupctrl {
	color:auto;
}
/* end styles for postbit_legacy */

img.onlinestatus_noavatar {
	position: relative;
	top: 5px;
	left: -56px;
}
img.onlinestatus {
	position: relative;
	top: 5px;
	left: -4px;
}

.postbody img.inlineimg {
	vertical-align: bottom;
}

.postbody .lastedited .reason {
	font-weight: bold;
}

.postbitlegacy .userinfo .userinfo_extra {
	width:180px;
	float: left;
	font-size: 11px;
}

.hasad {
	display:block;
	margin-right: 300px;
}
.postbit .posttitle, .postbitlegacy .title
{
	border-bottom: 1px solid #C8C8C8;
	padding-bottom: 5px;
	margin-bottom: 5px;
}