@charset "UTF-8";

img.repimg {
    display: inline;
    margin-left: -2px;
    padding-top: 2px;
    *margin-left: -3px; /* IE6/7 */
}

.member_reputation {
	font-size: 0;
}

#charnav {
	border:1px solid #cedfeb;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	padding:7px;
	margin-bottom:1em;
	margin-left:auto;
	margin-right:auto;
	width:auto;
}

#charnav dt {
	float:left;
	width:13%;
}

#charnav dd {
	float:left;
	width:3.2%;
}

#charnav dd a {
	font-size:11px;
	padding:2px 4px;
	border:1px solid #cedfeb;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	text-decoration:none;
	display:block;
	text-align:center;
	margin-left:2px;
}

#charnav dd a:hover {
	border-color:#417394;
	background:#417394;
	color:white;
}

#charnav dd.highlighted a {
	border-color:#417394;
}

#pagination_top {
	float:left;
}

#searchstats {
	float:right;
	text-align:right;
	padding:5px 10px;
	font-size:11px;
}

#searchstats span {
	display:inline;
}

#memberlist_search {
	float:right;
}

#pagination_bottom {
	margin-top:10px;
}

#above_memberlist {
	margin-bottom:10px;
}

#memberlist {
}

#memberlist_table th {
	text-align:center;
}

#memberlist .blockhead{
	position:relative;
	left:1px;
}

#memberlist_table th:first-child {
	text-align:left;
}

#memberlist_table tr td {
	border-bottom:1px solid #cedfeb;
}

#memberlist_table tr:last-child td {
	border-bottom:none;
}

#memberlist_table td {
	padding:10px;
	vertical-align:top;
}

#memberlist_table td.alt1 {
	background:#FFFFFF none repeat-x center bottom;
}

/* Removed, this just mis-aligns stuff ...
#memberlist_table td.joindate,
#memberlist_table td.postcount,
#memberlist_table td.lastvisit {
	text-align:right;
}

#memberlist_table td.avatar,
#memberlist_table td.profilepic,
#memberlist_table td.reputation {
	text-align:center;
}
*/

#memberlist a.username {
	font-size:19px;
	display:block;
}

#memberlist span.time {
	display:block;
}

#memberlist td.profilepic img,
#memberlist img.avatar {
	max-width:40px;
	height:auto;
	width:auto !important;
}
#memberlist_search.popupmenu .popupbody {
	width:236px;
	left: -100px;
}
#memberlist_table th, .columnsort {
	font-size:10px;
}
#memberlist.block .blockbody {
	width:100%;
	overflow:auto;
	padding-left:1px;
}
#searchstats {
	padding-bottom: 0px;
}